ul,li{
	list-style: none;
}

/* COLORS */
.mm-bg-dark {
	background-color: #2C3E50;
}
.mm-bg-light {
	background-color: #1ABC9C;
}

.mm-img {
	width: 25%;
	min-width: 228px ;
}
.mm-img-portfolio {
	width: 100%;
	border-radius: 2%;
	margin-top: 1rem;
}
section .row .mm-form {
	border: none;
	border-radius: 0;
	border-bottom: 2px solid #CCCCCC;
}











.nav-bg {
	background-color: cadetblue;
}
.bg-banner {
	background-color: darkolivegreen;
}
.bg-darkb {
	background-color: rgb(63, 197, 197);
}
.bg-fot { 
	background-color: dimgray;
}
.input-test {
	height: 300px;
	width: 100%;
	background-color: darkseagreen;
}



.img-test {
	width: 285px;
	height: 255px;
	background-color: darkred;
	max-width: 100%;
}
.img-test2 {
	width: 380px;
	height: 225px;
	background-color: rgb(70, 14, 190);
	max-width: 100%;

}
.divider-line {
	position: relative;
}

.divider-line::after {
	content: "";
	width: 100px;
	height: 3px;
	background-color: rgb(255, 255, 255);
	position: absolute;
	top: 50%;
	right: 54%;
}
.divider-line::before {
	content: "";
	width: 100px;
	height: 3px;
	background-color: rgb(255, 255, 255);
	position: absolute;
	top: 50%;
	left: 54%;
}
.divider-line-black {
	position: relative;
}
.divider-line-black::after {
	content: "";
	width: 100px;
	height: 3px;
	background-color: rgb(0, 0, 0);
	position: absolute;
	top: 50%;
	right: 54%;
}
.divider-line-black::before {
	content: "";
	width: 100px;
	height: 3px;
	background-color: rgb(0, 0, 0);
	position: absolute;
	top: 50%;
	left: 54%;
}