ul,li{
	list-style: none;
}
.nav-bg {
	background-color: cadetblue;
}
.bg-banner {
	background-color: darkolivegreen;
}
.bg-darkb {
	background-color: rgb(63, 197, 197);
}
.bg-fot { 
	background-color: dimgray;
}
.input-test {
	height: 300px;
	width: 100%;
	background-color: darkseagreen;
}
.test{ 
	background-color: blueviolet;
}
.burger__wraper {
	position: relative;
	border: 1px solid rgb(255, 255, 255);
	width: 30px;
	height: 30px;
}
.burger {
	width: 20px;
	height: 3px;
	background-color: rgb(95, 95, 95);
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
.burger::after {
	content: "";
	width: 20px;
	height: 3px;
	background-color: rgb(95, 95, 95);
	position: absolute;
	right: 0;
	bottom: 4px;
	transform: translatey(-50%);
}
.burger::before {
	content: "";
	width: 20px;
	height: 3px;
	background-color: rgb(95, 95, 95);
	position: absolute;
	right: 0;
	bottom: -4px;
	transform: translatey(50%);
}
.img-test {
	width: 285px;
	height: 255px;
	background-color: darkred;
	max-width: 100%;
}
.img-test2 {
	width: 250px;
	height: 125px;
	background-color: rgb(70, 14, 190);
	max-width: 100%;

}